In [1]:
#importing necessary libraries
import pandas as pd

In [2]:
#importing train and tese data files
train = pd.read_csv('ad_org_train.csv')
test = pd.read_csv('ad_org_test.csv')

In [3]:
train.head()

,vidid,adview,views,likes,dislikes,comment,published,duration,category
0,VID_18655,40,1031602,8523,363,1095,2016-09-14,PT7M37S,F
1,VID_14135,2,1707,56,2,6,2016-10-01,PT9M30S,D
2,VID_2187,1,2023,25,0,2,2016-07-02,PT2M16S,C
3,VID_23096,6,620860,777,161,153,2016-07-27,PT4M22S,H
4,VID_10175,1,666,1,0,0,2016-06-29,PT31S,D

In [4]:
#checking types of each variables
train.dtypes

vidid        object
adview        int64
views        object
likes        object
dislikes     object
comment      object
published    object
duration     object
category     object
dtype: object

In [5]:
#checking shape and size
train.shape

(14999, 9)

In [6]:
#cunting miising values as F in dataset
columns = train.columns
for col in columns:
    ct =0
    for x in train[col]:
        if x=='F':
            x = 'vb'
            ct =ct+1
    print(col,ct)

vidid 0
adview 0
views 2
likes 155
dislikes 155
comment 233
published 0
duration 0
category 899

In [7]:
#converting string values into integer values
l =[]
for i in train['views']:
    try :
        l.append(int(i))
    except:
        l.append(0)
train['views'] = l

In [8]:
l =[]
for i in train['likes']:
    try :
        l.append(int(i))
    except:
        l.append(0)
train['likes'] = l

In [9]:
l =[]
for i in train['dislikes']:
    try :
        l.append(int(i))
    except:
        l.append(0)
train['dislikes'] = l

In [10]:
l =[]
for i in train['comment']:
    try :
        l.append(int(i))
    except:
        l.append(0)
train['comment'] = l

In [11]:
l =[]
for i in train['published']:
    l.append(int(i[:4]))
train['year'] = l

In [12]:
l =[]
for i in train['published']:
    l.append(int(i[5:7]))
train['month'] = l

In [13]:
l =[]
for i in train['duration']:
    a = i.lstrip('PT').rstrip('S').replace('H','.').replace('M','.').split('.')
    try:
        if len(a)==3:
            time = int(a[0])*60*60 + int(a[1])*60 + int(a[2])
        elif len(a)==2:
            time = int(a[0])*60 + int(a[1])
        else:
            time = int(a[0])
    except:
        time = int(a[0])*60
    l.append(time)

In [14]:
train['duration'] = l

In [15]:
train.drop('published',axis=1,inplace=True)

In [16]:
train.head()

,vidid,adview,views,likes,dislikes,comment,duration,category,year,month
0,VID_18655,40,1031602,8523,363,1095,457,F,2016,9
1,VID_14135,2,1707,56,2,6,570,D,2016,10
2,VID_2187,1,2023,25,0,2,136,C,2016,7
3,VID_23096,6,620860,777,161,153,262,H,2016,7
4,VID_10175,1,666,1,0,0,31,D,2016,6

In [17]:
train['category'].value_counts()

D    7558
G    2498
E    1614
B     988
F     899
C     615
H     462
A     365
Name: category, dtype: int64

In [18]:
d = {
    'A':1,
    'B':2,
    'C':3,
    'D':4,
    'E':5,
    'F':6,
    'G':7,
    'H':8
}

In [19]:
train['category'] = train['category'].map(d).astype(int)

In [20]:
train.head()

,vidid,adview,views,likes,dislikes,comment,duration,category,year,month
0,VID_18655,40,1031602,8523,363,1095,457,6,2016,9
1,VID_14135,2,1707,56,2,6,570,4,2016,10
2,VID_2187,1,2023,25,0,2,136,3,2016,7
3,VID_23096,6,620860,777,161,153,262,8,2016,7
4,VID_10175,1,666,1,0,0,31,4,2016,6

In [21]:
#test preprocessing sames as train data
l =[]
for i in test['views']:
    try :
        l.append(int(i))
    except:
        l.append(0)
test['views'] = l

l =[]
for i in test['likes']:
    try :
        l.append(int(i))
    except:
        l.append(0)
test['likes'] = l

l =[]
for i in test['dislikes']:
    try :
        l.append(int(i))
    except:
        l.append(0)
test['dislikes'] = l

l =[]
for i in test['comment']:
    try :
        l.append(int(i))
    except:
        l.append(0)
test['comment'] = l

l =[]
for i in test['published']:
    l.append(int(i[:4]))
test['year'] = l

l =[]
for i in test['published']:
    l.append(int(i[5:7]))
test['month'] = l

l =[]
for i in test['duration']:
    a = i.lstrip('PT').rstrip('S').replace('H','.').replace('M','.').split('.')
    try:
        if len(a)==3:
            time = int(a[0])*60*60 + int(a[1])*60 + int(a[2])
        elif len(a)==2:
            time = int(a[0])*60 + int(a[1])
        else:
            time = int(a[0])
    except:
        time = int(a[0])*60
    l.append(time)
    
test['duration'] = l
test.drop('published',axis=1,inplace=True)

In [22]:
test['category'] = test['category'].map(d).astype(int)

In [23]:
test.head()

,vidid,views,likes,dislikes,comment,duration,category,year,month
0,VID_1054,440238,6153,218,1377,449,2,2017,2
1,VID_18629,1040132,8171,340,1047,389,6,2016,6
2,VID_13967,28534,31,11,1,2274,4,2014,3
3,VID_19442,1316715,2284,250,274,595,7,2010,6
4,VID_770,1893173,2519,225,116,188,2,2016,9

In [24]:
X = train.drop(['vidid','adview'],axis=1)
y = train['adview']

In [25]:
#importing RandomForestRegressor 
from sklearn.ensemble import RandomForestRegressor

In [26]:
reg=RandomForestRegressor(n_estimators=200, max_depth=20,criterion='mse',n_jobs=-1,min_samples_leaf=3,min_samples_split=5)

In [27]:
reg.fit(X,y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=20,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=3, min_samples_split=5,
           min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=-1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [28]:
#making prediction on test values
pred = reg.predict(test.drop('vidid',axis=1))

In [29]:
pred

array([2927.30261141,   43.50014672,   17.10071789, ...,   47.98354775,
          4.08065706,  280.92093913])

In [30]:
test['ad_view'] = pred

In [31]:
#saving prediction values in prediction csv file
#test[['vidid','ad_view']].to_csv('Prediction.csv',index=False)